.calc-container {
    height: 500px;
    width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  padding: 20px;
  background-color: #dfdedb;
  border-radius: 3%;
  box-shadow: -21px 26px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -21px 26px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -21px 26px 5px 0px rgba(0, 0, 0, 0.75);
}

.calc-button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.calc-text_container {
}

.calc-text_container input {
    margin: 1rem 2rem;
    width: 285px;
    height: 60px;
    border-radius: 3%;

}
