.numero {
    background-color: #132019;
    color: #a88c43;
    width: 60px;
    height: 50px;
    border-style: solid;
    border-color: #a88c43;
}

.funcion {
    background-color: #a88c43;
    color: white;
    width: 60px;
    height: 50px;
    border: none;
}

.operacion {
    background-color: rgb(29, 49, 38);
    color: white;
    width: 60px;
    height: 50px;
    border: none;
    border-style: solid;
    border-color: #a88c43;
}

.operacion2 {
    background-color: var(--co-primary);
    color: var(--co-special);
    width: 60px;
    height: 50px;
    border: none;
    border-style: solid;
    border-color: var(--co-special);
}

.numero2 {
    background-color: #132019;
    color: #a88c43;
    width: 135px;
    height: 50px;
    border-style: solid;
    border-color: #a88c43;
}