.numero {
    background-color: #5e5c64;
    box-shadow: 0 7px 0 0 #3a3544;
    color: white;
    width: 60px;
    height: 50px;
    border-radius: 20%;
    border: none;
}

.funcion {
    background-color: #ff7900;
    box-shadow: 0 7px 0 0 #c74400;
    color: white;
    width: 60px;
    height: 50px;
    border-radius: 20%;
    border: none;
}

.operacion {
    background-color: #9b9a97;
    box-shadow: 0 7px 0 0 #5e5c64;
    color: white;
    width: 60px;
    height: 50px;
    border-radius: 20%;
    border: none;
}

.operacion2 {
    background-color: #9b9a97;
    box-shadow: 0 7px 0 0 #5e5c64;
    color: white;
    width: 60px;
    border-radius: 20%;
    height: 115px;
    border: none;
}