* {
    margin: 0;
    padding: 0;
}


:root {
    display: flex;
    align-items: center;
    justify-content: center;

    /* Age Calculator App */

    /* Font */
    font-family: 'Poppins', sans-serif;

    /* Colors */
    /* Principal */
    /* Secundary */
    --principal-color: hsl(259, 100%, 65%);
    --secundary-color: hsl(0, 100%, 67%);
    --light-gray: hsl(0, 0%, 86%);
    --dark-gray:  hsl(0, 1%, 44%);
    --black-color:  hsl(0, 0%, 8%);


    /* Pricing with Toggle App */

    /* Colors */
    /* Principal */
    --linear-gradient: linear-gradient(170deg, rgba(163,168,240,1) 0%, rgba(105,111,221,1) 100%);
    /* Secundary */
    --very-light-grayish-blue: hsl(240, 50%, 95%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);


    /* Tip Calculator App */

    /* Font */
    --font-tipApp: 'Space Mono', monospace;

    /* colors */
    /* Principal */
    --strong-cyan: hsl(172, 67%, 45%);
    /* Secundary */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);

    /* Interactive Card Details Form */

    /* Font */
    

    /* colors */
    /* Primary */
    --purple-focus: rgba(96,5,148,1);
    --error-color: hsl(0, 100%, 66%);
    /* Secundary */
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);

}

input[type=number]{
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

