.SearchTree-container {
  height: 500px;
  width: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--co-bg);
  gap: 2rem;
}

.ChangeDiv {
  background-color: var(--co-secondary);
  color: var(--co-primary);
  width: auto;
  height: 50px;


  border: groove;
  border-color: var(--co-special);


  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 300;

  cursor: pointer;
}

.addDatos-container{
  padding: 0 2rem;
}

.addDatos-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addDatos-container input {
  font-size: 34px;
  font-family: var(--font-primary);
  font-weight: 300;

  width: 350px;
  height: 50px;
  background-color: var(--co-bg);
  
  color: var(--co-primary);
  border: groove;
  border-color: var(--co-special);

  
}

.addDatos-container button {
  background-color: var(--co-secondary);
  color: var(--co-primary);
  width: auto;
  height: 50px;
  border: none;

  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 300;

  cursor: pointer;
}

.infoTree-container {
  padding: 0 2rem;
  width: 360px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.infoTree-item {
  display: flex;
  align-items: center;
  gap: 1rem;

  height: auto;

  background: none;
  color: var(--co-primary);
  width: 385px;
  height: auto;
  border: none;

  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 300;

  cursor: pointer;
}

