@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Prociono&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Prociono', sans-serif;

  
  --co-bg: #1320199d;
  --co-special : #a88c43;
  --co-primary: #ffffff;
  --co-secondary: #1d3126;
  --co-subtext: #FF8A71;
}